body {
  font-family: "RocknRoll One", sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background: rgb(18, 105, 113);
  background: linear-gradient(
    0deg,
    rgba(18, 105, 113, 1) 14%,
    rgba(18, 105, 113, 1) 56%,
    rgba(0, 7, 22, 0.929590450310559) 100%
  );
}

.header-top {
  text-align: center;
  color: #fff;
  width: 960px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0;
}

.header-top h1 > :first-child {
  color: red;
}
.header-top h1 > :nth-child(2) {
  color: green;
}
.header-top h1 > :last-child {
  color: blue;
}

.main-counter {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 960px;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
  color: white;
  font-size: 3em;
  border: 3px solid white;
  border-radius: 10px;
}

.main_user-computer {
  width: 960px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
}
.main_user {
  width: 50%;
  padding: 30px 0;
  text-align: center;
  background: rgba(0, 128, 0, 0.376);
  color: white;
}
.main_computer {
  width: 50%;
  padding: 30px 0;
  text-align: center;
  background: rgba(0, 0, 255, 0.3);
  color: white;
}

.player_counter {
  width: 50%;
}
.computer_counter {
  width: 50%;
}

.game {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}
.game h3 {
  font-size: 2em;
  /* color: white; */
}
.d-flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex a {
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
  margin: 0 50px;
  width: 100px;
  height: 100px;
}
.d-flex a i {
  color: white;
  font-weight: normal;
  text-align: center;
  transform: translate(0, 30%);
}
.d-flex a:last-child {
  transform: rotate(90deg);
}
.d-flex a i:hover {
  border-radius: 50%;
  color: #9cc;
}

.button-group {
  width: 960px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
.btn {
  padding: 15px 30px;
  font-size: 2em;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "RocknRoll One", sans-serif;
  margin: 0 10px;
}
.btn:hover {
  background: green;
  color: white;
}

.btn-reset:hover {
  background: blue;
  color: white;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefdfff5;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 30%;
}
.modal-content .btn {
  display: inline-block;
  width: 73.5%;
  text-align: center;
  padding: 10px 20px;
  margin: 30px auto;
  font-size: 1.5em;
}

.user_name {
  display: inline-block;
  width: 70%;
  padding: 10px;
  font-size: 1.5em;
  outline: none;
  border: none;
  background: white;
  border-bottom: 2px solid green;
}

.user_name:hover {
  border-bottom: 2px solid red;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* js classes for text*/
.userColor{
  color: green;
}
.computerColor{
  color: blue;
}
.defaultColor{
  color: white;
}